<ng-container *ngIf="!!request">
  <div class="row">
    <div class="col-md-10">
      <nb-card>
        <nb-card-header>
          <div class="row header-with-buttons">
            <div class="col-md-8 header-content">
              <div class="back-button">
                <a
                  nbButton
                  ghost
                  routerLink="/app/requests"
                  title="Go back"
                >
                  <nb-icon icon="chevron-left-outline" pack="eva"></nb-icon>
                </a>
              </div>
              <div class="header-text">
                <span>Request from {{ request.request.name }}</span>
              </div>
            </div>
            <div class="col-md-4 control-buttons">
              <nb-button-group status="control">
                <button
                  nbButton
                  status="danger"
                  (click)="delete()"
                  title="Delete request"
                >
                  <nb-icon icon="trash-outline" pack="eva"></nb-icon>
                </button>
                <button
                  nbButton
                  status="info"
                  (click)="refresh()"
                  title="Refresh"
                >
                  <nb-icon icon="refresh-outline" pack="eva"></nb-icon>
                </button>
              </nb-button-group>
            </div>
          </div>
        </nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="p-2 col-2">
              <img
                src="https://avatars.dicebear.com/api/avataaars/{{
                  request.request.name
                }}.svg?eyes[]=happy&eyes[]=hearts&eyes[]=surprised&eyes[]=wink&mouth[]=smile&eyebrow[]=default"
                alt="Avatar placeholder"
                width="100%"
                class="rounded-circle"
              />
            </div>
            <div class="col-10">
              <h5 class="font-medium">{{ request.request.name }}</h5>
              <p class="font-medium">
                <strong>Subject:</strong>
                {{ getTypeString(request.request.type) }}
              </p>
              <p class="font-medium">
                <nb-icon icon="person-outline" pack="eva"></nb-icon>
                {{ getIamString(request.request.iam) }}
              </p>
              <p class="font-medium" *ngIf="!!request.request.listingId">
                <nb-icon icon="pin-outline" pack="eva"></nb-icon>
                <a
                  href="{{ serverUrl }}/property/{{ request.request.listingId }}"
                  target="_blank"
                  >{{ request.request.address }}</a
                >
              </p>
              <p class="font-medium">
                <nb-icon icon="email-outline" pack="eva"></nb-icon>
                <a href="mailto:{{ request.request.email }}">{{
                  request.request.email
                }}</a>
              </p>
              <p class="font-medium" *ngIf="!!request.request.phone">
                <nb-icon icon="phone-outline" pack="eva"></nb-icon>
                <a href="tel:{{ request.request.phone }}">{{
                  request.request.phone
                }}</a>
              </p>
              <div class="reply-text">
                <p><strong>Message:</strong></p>
                <p>{{ request.request.message }}</p>
              </div>
              <div class="comment-footer d-md-flex align-items-center">
                <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">
                  {{ getFormattedTime(request.dateTimeUtc) }}
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row" *ngFor="let reply of request.replies">
    <div [class]="'col-md-10' + (!reply.fromCustomer ? ' offset-md-2' : '')">
      <ngx-customer-request-reply
        [reply]="reply"
        [request]="request.request"
      ></ngx-customer-request-reply>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngx-customer-request-reply-form
        [request]="request"
        (submitted)="refresh()"
      ></ngx-customer-request-reply-form>
    </div>
  </div>
</ng-container>
