<div class="row">
  <div class="col-sm-6">
    <ngx-string-input-form-group
      title="Title"
      [parent]="component.values"
      property="title"
      required></ngx-string-input-form-group>
  </div>
  <div class="col-sm-6">
    <ngx-numeric-input-form-group title="Maximum number of listings to show"
                                 [parent]="component.values"
                                 property="max"
                                 min="1"
                                 max="10"
                                 required>
    </ngx-numeric-input-form-group>
  </div>
</div>