<div class="row">
  <div class="col-sm-12">
    <ngx-string-input-form-group title="Title"
                                 [parent]="component.values"
                                 property="title"></ngx-string-input-form-group>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ngx-string-textarea-form-group title="Left text"
                                    [parent]="component.values"
                                    property="leftText"
                                    editor
                                    required></ngx-string-textarea-form-group>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label class="label">Left Links</label>
  </div>
  <div class="col-12">
    <ng2-smart-table [settings]="leftLinksTableSettings"
                     [source]="leftLinksDataSource"
                     id="left-links-table"
                     (createConfirm)="confirm($event)"
                     (editConfirm)="confirm($event)">
    </ng2-smart-table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ngx-string-textarea-form-group title="Right text"
                                    [parent]="component.values"
                                    property="rightText"
                                    editor
                                    required></ngx-string-textarea-form-group>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label class="label">Right Links</label>
  </div>
  <div class="col-12">
    <ng2-smart-table [settings]="rightLinksTableSettings"
                     [source]="rightLinksDataSource"
                     id="right-links-table"
                     (createConfirm)="confirm($event)"
                     (editConfirm)="confirm($event)">
    </ng2-smart-table>
  </div>
</div>