<form name="form"
      class="input-form"
      (ngSubmit)="save(form)"
      #form="ngForm"
      autocomplete="off">
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header>
          <div class="row header-with-buttons">
            <div class="col-md-10 col-sm-8 header-content">
              <div class="header-text">Change password</div>
            </div>

            <div class="col-md-2 col-sm-4 control-buttons">
              <nb-button-group status="primary">
                <button nbButton
                        type="button"
                        status="info"
                        (click)="save(form)"
                        title="Save"
                        [disabled]="form.invalid || model.confirmPassword != model.password"
                        [nbSpinner]="loading">
                  <nb-icon icon="save-outline"
                           pack="eva"></nb-icon> Save
                </button>
              </nb-button-group>
            </div>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
  </div>
  <div class="row"
       [nbSpinner]="loading">
    <div class="col-sm-12">
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-12">
              <div class="form-control-group">
                <label class="label"
                       for="input-old-password">Old password</label>
                <input nbInput
                       [(ngModel)]="model.oldPassword"
                       #oldPassword="ngModel"
                       type="password"
                       id="input-old-password"
                       name="old-password"
                       placeholder="Old password"
                       fullWidth
                       fieldSize="large"
                       required>
                <ng-container *ngIf="oldPassword.invalid && oldPassword.touched">
                  <p class="errors"
                     *ngIf="oldPassword.errors?.required">
                    Old password is required!
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-control-group">
                <label class="label"
                       for="input-password">New password</label>
                <input nbInput
                       [(ngModel)]="model.password"
                       #password="ngModel"
                       type="password"
                       id="input-password"
                       name="password"
                       placeholder="New password"
                       fullWidth
                       fieldSize="large"
                       minlength="6"
                       required>
                <ng-container *ngIf="password.invalid && password.touched">
                  <p class="errors"
                     *ngIf="password.errors?.required">
                    Password is required!
                  </p>
                  <p class="errors"
                     *ngIf="password.errors?.minlength">
                    Password should contain at least 6 symbols!
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-control-group">
                <label class="label"
                       for="input-confirm-password">Confirm password</label>
                <input nbInput
                       [(ngModel)]="model.confirmPassword"
                       #confirmPassword="ngModel"
                       type="password"
                       id="input-confirm-password"
                       name="confirmPassword"
                       placeholder="Confirm password"
                       fullWidth
                       fieldSize="large"
                       required>
                <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                  <p class="errors"
                     *ngIf="confirmPassword.errors?.required">
                    Confirm Password is required!
                  </p>
                </ng-container>
                <p class="errors"
                   *ngIf="model.confirmPassword != model.password">
                  Passwords don't match!
                </p>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>