<nb-card>
  <nb-card-header>
    <div class="row header-with-buttons">
      <div class="col-6 header-content">
        <div class="header-text">Blog comments</div>
      </div>
      <div class="col-6 control-buttons">
        <nb-button-group status="control">
          <button
            nbButton
            status="info"
            (click)="list.refresh()"
            title="Refresh"
          >
            <nb-icon icon="refresh-outline" pack="eva"></nb-icon>
          </button>
        </nb-button-group>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ngx-blog-comments-list #list></ngx-blog-comments-list>
  </nb-card-body>
</nb-card>
