@import "../../../@theme/styles/themes";

@include nb-install-component() {
}

.avatar-wrapper {
  text-align: center;
  margin-bottom: 1rem;
  img.avatar {
    max-width: 100%;
    max-height: 300px;
  }
}
