<ng-container *ngIf="!!settings">
  <form name="form"
        class="input-form"
        (ngSubmit)="save(form)"
        #form="ngForm"
        autocomplete="off">
    <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            <div class="row header-with-buttons">
              <div class="col-md-10 col-sm-8 header-content">
                <div class="header-text">Update profile settings</div>
              </div>

              <div class="col-md-2 col-sm-4 control-buttons">
                <nb-button-group status="primary">
                  <button nbButton
                          type="button"
                          status="info"
                          (click)="save(form)"
                          title="Save"
                          [disabled]="form.invalid"
                          [nbSpinner]="loading">
                    <nb-icon icon="save-outline"
                             pack="eva"></nb-icon> Save
                  </button>
                </nb-button-group>
              </div>
            </div>
          </nb-card-header>
        </nb-card>
      </div>
    </div>
    <div class="row"
         [nbSpinner]="loading">

      <div class="col-sm-4">
        <nb-card>
          <nb-card-body>
            <div class="row"
                 *ngIf="settings.avatar">
              <div class="col-12 avatar-wrapper">
                <img [src]="settings.avatar"
                     class="avatar" />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ngx-image-select-input [parent]="settings"
                                        property="avatar"
                                        title="Avatar"
                                        required></ngx-image-select-input>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-sm-8">
        <nb-card>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <ngx-string-input-form-group title="First name"
                                             [parent]="settings"
                                             property="firstName"
                                             required>
                </ngx-string-input-form-group>
              </div>
              <div class="col-sm-6">
                <ngx-string-input-form-group title="Last name"
                                             [parent]="settings"
                                             property="lastName"
                                             required>
                </ngx-string-input-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <ngx-string-input-form-group title="Email"
                                             [parent]="settings"
                                             property="email"
                                             type="email"
                                             required>
                </ngx-string-input-form-group>
              </div>
              <div class="col-sm-6">
                <ngx-string-input-form-group title="Phone"
                                             [parent]="settings"
                                             property="phone"
                                             mask="(000) 000-0000"
                                             required>
                </ngx-string-input-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ngx-string-textarea-form-group title="Short summary"
                                             [parent]="settings"
                                             property="shortDescription"
                                             required>
                </ngx-string-textarea-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <ngx-string-input-form-group title="Office address"
                                             [parent]="settings"
                                             property="address"
                                             required>
                </ngx-string-input-form-group>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="description"
                         class="label">Theme</label>
                  <nb-select [(ngModel)]="settings.adminTheme"
                             fullWidth
                             placeholder="Select...">
                    <nb-option *ngFor="let theme of themes"
                               [value]="theme.value"> {{ theme.name }}</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </form>
</ng-container>