<div class="row">
  <div class="col-sm-4">
    <ngx-string-input-form-group
      title="Title"
      [parent]="component.values"
      property="title"
      required></ngx-string-input-form-group>
  </div>
  <div class="col-sm-4">
    <ngx-string-input-form-group
      title="Sub title"
      [parent]="component.values"
      property="subTitle"
      required></ngx-string-input-form-group>
  </div>
  <div class="col-sm-4">
    <ngx-numeric-input-form-group title="Maximum number of blog posts to show"
                                 [parent]="component.values"
                                 property="max"
                                 min="3"
                                 max="9"
                                 step="3"
                                 required>
    </ngx-numeric-input-form-group>
  </div>
</div>