<div class="row">
  <div class="col-sm-6">
    <ngx-string-input-form-group
      title="Title"
      [parent]="component.values"
      property="title"
      required></ngx-string-input-form-group>
  </div>
  <div class="col-sm-6">
    <ngx-string-input-form-group
      title="Subtitle"
      [parent]="component.values"
      property="subTitle"
      required></ngx-string-input-form-group>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-3">
    <label class="label">Steps</label>
  </div>
  <div class="col-12">
    <ng2-smart-table [settings]="tableSettings"
                     [source]="servicesDataSource"
                     id="steps-table"
                     (createConfirm)="confirm($event)"
                     (editConfirm)="confirm($event)">
    </ng2-smart-table>
  </div>
</div>